
<div class="row">
<div class="col-sm-8">
  <div class="title">
    Student
  </div>
  <div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col"><i class="far fa-envelope"></i> Email</th>
        <th scope="col"><i class="fas fa-phone"></i> Phone</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let students of studentService.student">
        <th scope="row"></th>
        <td>{{ students.name }}</td>
        <td>{{ students.email }}</td>
        <td>{{ students.phone }}</td>
        <td>
          <a (click)="editStudent(students)" ><i class="fas fa-edit"></i></a>
          <a (click)="deleteStudent(students._id)"><i class="fas fa-trash-alt"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div class="col-sm-4 add-student">
  <div class="title-add">
    Student Add
  </div>
  <form #studentForm="ngForm" (ngSubmit)="addStudent(studentForm)">
    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="studentService.selectedStudent._id">
    <div class="form-group">
      <label >Name</label>
      <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="studentService.selectedStudent.name"  placeholder="Enter name">
    </div>
    <div class="form-group">
      <label>Email address</label>
      <input type="email" class="form-control" name="email" #name="ngModel" [(ngModel)]="studentService.selectedStudent.email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input type="number" class="form-control" name="phone" #name="ngModel" [(ngModel)]="studentService.selectedStudent.phone" placeholder="Enter phone">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input">
      <label class="form-check-label">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary save"><i class="fas fa-user-plus"> Save</i></button>
    <button type="submit" class="btn btn-primary claer" (click)="resetForm(studentForm)"> <i class="fas fa-broom">Clear</i></button>
  </form>
</div>
</div>
