<footer>
  <div class="row footer-information">
      <div class="col-md-4">
          <div class="name-school">
              Trường Cao Đẳng Công Nghê Thủ Đức
          </div>
          <div class="address">
              53 Võ Văn Ngân, P.Linh Chiểu, Q.Thủ Đức, TP.HCM
          </div>
          <div class="phone">
              Phone: (028) 22 158 642
          </div>
          <div class="fax">
              Fax: (028)38962474
          </div>
          <div class="email">
              Email: fit@tdc.edu.vn
          </div>
          <div class="facebook">
              Facebook: facebook.com/tdc.fit
          </div>
          <div class="youtube">
              Youtube: youtube.com/fit-tdc
          </div>
      </div>
      <div class="col-md-4">
          <div class="name-school">
              Giới thiệu
          </div>
          <br>
          <div class="school">
              Trường Cao Đẳng Công Nghê Thủ Đức
          </div>
          <br>
      </div>
      <div class="col-md-4">
          <div class="name-school">
              Liên Hệ
          </div>
          <div class="lienhe">
              2020 Khoa Công nghệ thông tin | Cao đẳng Công nghệ Thủ Đức | FIT - TDC All Rights Reserved.
          </div>
      </div>
  </div>
</footer>
